#Install OpenVPN
- name: Install OpenVPN
  ansible.builtin.dnf:
    name: openvpn
    state: present

#Install Easy-RSA
- name: Install Easy-RSA
  ansible.builtin.dnf:
    name: easy-rsa
    state: present

#Create OpenVPN Folder
- name: Create OpenVPN Folder
  ansible.builtin.file:
    path: /etc/openvpn
    state: directory
    owner: cyberrange
    mode: '0777'


#Create PKI Directories (because init-pki is fucking me up)
- name: Create PKI Directories
  ansible.builtin.file:
    path: "/etc/openvpn/pki/{{ item }}"
    state: directory
    owner: cyberrange
    mode: '0777'
  loop:
   - private
   - issued
   - reqs
   - certs

#Create Empty index.txt
- name: Create index.txt
  ansible.builtin.file:
    path: /etc/openvpn/pki/index.txt
    state: touch
    owner: cyberrange
    mode: '0777'
  
#Create serial file
- name: Create serial file
  ansible.builtin.copy:
    dest: /etc/openvpn/pki/serial
    content: "01\n"
    owner: cyberrange
    mode: '0777'

#Create crl.pem
- name: Create crl.pem
  ansible.builtin.file:
    path: /etc/openvpn/pki/crl.pem
    state: touch
    owner: cyberrange
    mode: '0777'

#Build CA
- name: Build CA
  ansible.builtin.command:
    cmd: "/usr/share/easy-rsa/3/easyrsa --batch build-ca nopass"
    chdir: /etc/openvpn
  args:
    creates: /etc/openvpn/pki/ca.crt

#Generate Client Cert and Key
- name: Generate Client Cert and Key
  ansible.builtin.command:
    cmd: "/usr/share/easy-rsa/3/easyrsa --batch build-client-full client1 nopass"
    chdir: /etc/openvpn
  args:
    creates: /etc/openvpn/pki/issued/client1.crt

#Server cert and Key
- name: Generate Server Cert and Key
  ansible.builtin.command:
    cmd: "/usr/share/easy-rsa/3/easyrsa --batch build-server-full server nopass"
    chdir: /etc/openvpn
  args:
    creates: /etc/openvpn/pki/issued/server.crt

#DH Parameters
- name: Create DH Parameters
  ansible.builtin.command:
    cmd: "/usr/share/easy-rsa/3/easyrsa gen-dh"
    chdir: /etc/openvpn
  args:
    creates: /etc/openvpn/pki/dh.pem

#TLS Auth key
- name: Create TLS Auth Key
  ansible.builtin.command:
    cmd: "openvpn --genkey --secret ta.key"
    chdir: /etc/openvpn/pki
  args:
    creates: /etc/openvpn/pki/ta.key