#Change Server to OpenVPN
- name: openvpn
  hosts: openvpn
  become: true

#Enable EPEL to install
  tasks:
    - name: Enable EPEL
      ansible.builtin.dnf:
       name: epel-release
       state: present

#Install OpenVPN and Easy-RSA
    - name: Install OpenVPN and Easy-RSA
      ansible.builtin.dnf:
       name: 
        - openvpn
        - easy-rsa
       state: present

#Enable IP Forwarding
    - name: Enable IP Forwarding
      ansible.builtin.sysctl:
       name: net.ipv4.ip_forward
       value: "1"
       state: present
       reload: yes
  
#OpenVPN Config
    - name: Copy OpenVPN Server Config
      ansible.builtin.copy:
       dest: /etc/openvpn/server/server.Config
       content: |
        port {{ openvpn_port}}
        proto {{ openvpn_proto}}
        dev tun
        server {{ openvpn_server}}
        persist-key
        persist-tun
        verb 3
       owner: root
       group: root
       mode: '0644'


#Allow traffic through firewall
    - name: Open firewall port
      ansible.posix.firewalld:
       port: "{{ openvpn_port }}/{{ openvpn_proto}}"
       permanent: true
       state: enabled
       immediate: true

#Enable and Start
    - name: Enable and start OpenVPN
      ansible.builtin.systemd:
       name: openvpn-server@server
       enabled: true
       state: started
