#Enable IP Forwarding
    - name: Enable IP Forwarding
      ansible.builtin.sysctl:
       name: net.ipv4.ip_forward
       value: "1"
       state: present
       reload: yes
  
#OpenVPN Config
    - name: Copy OpenVPN Server Config
      ansible.builtin.copy:
        src: server.conf
        dest: /etc/openvpn/server/server.conf
        owner: cyberrange
        mode: '0644'
      notify: Restart OpenVPN

#Install firewalld
    - name: Install firewalld
      ansible.builtin.dnf:
       name: firewalld
       state: present

#Enable firewalld
    - name: Enable firewalld
      ansible.builtin.systemd:
       name: firewalld
       state: started
       enabled: true

#Install firewalld Python
    - name: Install firewalld Python
      ansible.builtin.dnf:
       name: python3-firewall
       state: present


#Allow traffic through firewall
    - name: Open firewall port
      ansible.builtin.firewalld:
       port: "{{ openvpn_port }}/{{ openvpn_proto}}"
       permanent: true
       state: enabled
       immediate: true

#Enable and Start
    - name: Enable and start OpenVPN
      ansible.builtin.systemd:
       name: openvpn-server@server
       enabled: true
       state: started
