#Enable EPEL to install
  tasks:
    - name: Enable EPEL
      ansible.builtin.dnf:
       name: epel-release
       state: present

#Install OpenVPN and Easy-RSA
    - name: Install OpenVPN and Easy-RSA
      ansible.builtin.dnf:
       name: 
        - openvpn
        - easy-rsa
       state: present

#Enable IP Forwarding
    - name: Enable IP Forwarding
      ansible.builtin.sysctl:
       name: net.ipv4.ip_forward
       value: "1"
       state: present
       reload: yes
  
#OpenVPN Config
    - name: Copy OpenVPN Server Config
      ansible.builtin.copy:
       dest: /etc/openvpn/server/server.Config
       content: |
        port {{ openvpn_port}}
        proto {{ openvpn_proto}}
        dev tun
        user cyberrange
        group openvpn
        persist-key
        persist-tun

        #PKI files
        ca /etc/openvpn/pki/ca.crt
        cert /etc/openvpn/pki/issued/server.crt
        key /etc/openvpn/pki/private/server.key
        dh /etc/openvpn/pki/dh.permanent

        #TLS
        tls-server
        tls-version-min 1.2
        tls-auth /etc/openvpn/pki/ta.key
        key-direction 0

        #Network
        server 15.8.0.0 255.255.255.0
        topology subnet
        ifconfig-pool-persist ipp.txt
        push "redirect-gateway def1 bypass-dhcp"
        push "dhcp-option DNS 129.21.1.92"
        push "dhcp-option DNS 8.8.8.8"

        #Crypto
        data-ciphers AES-256-GCM:AES-128-GCM
        data-ciphers-fallback AES-256-CBC
        auth SHA256

        #Keepalive and logging
        keepalive 10 120
        explicit-exit-notify 1
        verb 3

       owner: root
       group: root
       mode: '0644'

#Install firewalld
    - name: Install firewalld
      ansible.builtin.dnf:
       name: firewalld
       state: present

#Enable firewalld
    - name: Enable firewalld
      ansible.builtin.systemd:
       name: firewalld
       state: started
       enabled: true

#Install firewalld Python
    - name: Install firewalld Python
      ansible.builtin.dnf:
       name: python3-firewall
       state: present


#Allow traffic through firewall
    - name: Open firewall port
      ansible.posix.firewalld:
       port: "{{ openvpn_port }}/{{ openvpn_proto}}"
       permanent: true
       state: enabled
       immediate: true

#Enable and Start
    - name: Enable and start OpenVPN
      ansible.builtin.systemd:
       name: openvpn-server@server
       enabled: true
       state: started
